@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-dmsans;
    }
    h1 {
        @apply text-4xl pb-2 font-medium m-0 mb-2;
    }
    @font-face {
        font-family: DMSans;
        src: url(../assets/fonts/DMSans-Regular.ttf) format('ttf');
    }
    @font-face {
        font-family: DMSans;
        font-weight: 600;
        src: url(../assets/fonts/DMSans-Bold.ttf) format('ttf');
    }
}

@layer components {
    .link {
        @apply text-primary no-underline hover:underline;
    }
    .subtext {
        @apply text-xs;
    }
}
