@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'DMSans';
        font-weight: normal;
        font-style: normal;
        src: url('../assets/fonts/DMSans-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'DMSans';
        font-weight: 600;
        src: url('../assets/fonts/DMSans-Bold.ttf') format('truetype');
    }
    h1 {
        @apply text-4xl pb-2 font-medium m-0 mb-2;
    }
    h5 {
        @apply text-xl pb-2 font-medium m-0 mb-2;
    }
}

@layer components {
    .link {
        @apply text-primary no-underline hover:underline;
    }
    .subtext {
        @apply text-xs;
    }
}
